<div id="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Upload Your Video!
        </div>
        <div class="panel-body">
            <span class="card-title">Title</span>
            <!-- Binds videoName to detect if a name was introduced in the input -->
            <input class="form-control" type="text" name="video" ng-model="myValues.videoName">
            <div class="col-lg-12 text-center spaced-element">
                <!-- Use of div instead of button due to firefox support -->
                <div class="btn btn-primary start fileinput-button" ng-class="{disabled: myValues.videoName == undefined}">
                        <i class="glyphicon glyphicon-upload"></i>
                    <span>Upload</span>
                    <!-- Disables the input file if there's no name for the video -->
                    <input id="myUpload" type="file" name="file" ng-disabled="myValues.videoName == undefined">
                </div>   
            </div>
            <!-- Progress Bar-->
            <div class="col-lg-12 text-center spaced-element" ng-style="progressBar">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped {{ barType }}" ng-style="progress"></div>
                </div>
            </div>
        </div>
    </div>
</div>